{{!
    This file is part of Moodle - http://moodle.org/

    Template para visualização de próprias solicitações
}}

<div class="">
    <nav class="mb-3 moremenu navigation observed">
        <ul class="nav nav-tabs">
            {{#filters}}
            <li class="nav-item">
                <a class="nav-link {{#active}}active{{/active}}" href="{{url}}">{{label}}</a>
            </li>
            {{/filters}}
        </ul>
    </nav>
</div>

<div id="page-content">

    <div id="region-main-box">
        <section id="region-main" class="p-4" style="background-color: transparent;">

            <div class="d-flex justify-content-between align-items-center m-4">
                <h4 class="mb-0">{{#str}}my_requests, local_solicitacoes{{/str}}</h4>
                <a class="btn btn-primary" href="{{new_request_url}}">
                    + {{#str}}thankyou_new_request, local_solicitacoes{{/str}}
                </a>
            </div>

            {{#can_manage}}
            <div class="m-2">
                <a href="{{config.wwwroot}}/local/solicitacoes/gerenciar.php" class="btn btn-primary">
                    {{#str}}access_all_requests, local_solicitacoes{{/str}}
                </a>
            </div>
            {{/can_manage}}

            {{#has_requests}}
            <div class="table-responsive" style="background-color: #fff;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{#str}}action_type, local_solicitacoes{{/str}}</th>
                            <th>{{#str}}course, local_solicitacoes{{/str}}</th>
                            <th>{{#str}}target_users, local_solicitacoes{{/str}}</th>
                            <th>{{#str}}role, local_solicitacoes{{/str}}</th>
                            <th>{{#str}}created_at, local_solicitacoes{{/str}}</th>
                            <th>{{#str}}status, local_solicitacoes{{/str}}</th>
                            <th>{{#str}}actions, local_solicitacoes{{/str}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#requests}}
                        <tr>
                            <td>{{acao_label}}</td>
                            <td>{{{cursos_display}}}</td>
                            <td>{{{usuarios_display}}}</td>
                            <td>{{papel_display}}</td>
                            <td>{{created_date}}</td>
                            <td>
                                <span class="badge {{status_badge_class}}">{{status_label}}</span>
                            </td>
                            <td>
                                <a href="{{view_url}}" class="btn btn-sm">{{#str}}view, local_solicitacoes{{/str}}</a>
                            </td>
                        </tr>
                        {{/requests}}
                    </tbody>
                </table>
            </div>
            {{/has_requests}}

            {{^has_requests}}
            <div class="alert alert-info">
                <p>{{#str}}no_requests, local_solicitacoes{{/str}}</p>
            </div>
            {{/has_requests}}

        </section>
    </div>
</div>
